---
# TODO: enable modernize-pass-by-value?
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-*,
  bugprone-*,
  cert-*,
  google-*,
  llvm-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -modernize-pass-by-value, 
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -misc-include-cleaner,
  -google-build-using-namespace,
  -google-readability-todo

WarningsAsErrors: ''
HeaderFilterRegex: ''
CheckOptions:
  readability-identifier-length.MinimumVariableNameLength: 2
  readability-identifier-length.MinimumParameterNameLength: 2